*{
    margin: 0;
    padding: 0;
}

.first_section{
    position: absolute;
    left: 600px;
    top: 200px;
    border: 2px solid red;
    padding: 20px;
    /* margin: 0 auto 0 auto; */
    width: max-content;
    align-items: center;
}

.first_section h1{
    color: rgb(194, 38, 38);
    line-height: 50px;
}

.first_section p{
    line-height: 40px;
}

.first_section a{
    position: relative;
    /* margin: 0 auto 0 auto; */
    align-items: center;
    /* align-self: center; */
    border: 2px solid blueviolet;
    padding: 5px;
}